html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	overflow:hidden;
	background:white;
}

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color: #000;
	font-weight:bold;
	font-size:20px;
}

h1 {
	font-size: 22px;
	margin: 0;
}
#backgroundz{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 10;
	pointer-events:none;
}

.mx-scene {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;
}

.mx-scene:active {
	cursor: -webkit-grabbing; cursor: -moz-grabbing;
}

.cubeface {
	background-size: contain;
}

a {
	color:black;
	text-decoration:none;
	background:white;
	padding:2px;
}

#pano-rapper {
	position: absolute;
	z-index: 2;
	width:100%;
	height:100%;
	left:0;
	top:0;
}

#pano-rapper h1#pano-title {
	position:absolute;
	bottom:5px;
	width:100%;
	text-align:center;
	color:white;
	text-transform: uppercase
}

#log {
	position: absolute;
	top: 0; left: 0;
	color: red;
	z-index: 666;
	display: none;
}

.nav {
	position:fixed;
	z-index:100;
	padding:5px;
}

.nav.top.dropdown{
	z-index:102;
}

.nav.left{
	left:0;
}

.nav.right{
	right:0;
}

.nav.top{
	top:0;
}

.nav.bottom{
	bottom:0;
}

.nav.top.dropdown a{
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	float:left;
	clear:both;
	display:none;
}

.nav.top.right.dropdown a {
	float: right;
}

.nav.top.dropdown:hover b{
	background:black;
	color:white;
}

.nav.top.dropdown:hover a{
	display:inline-block;
	background:white;
	color:#000;
	opacity:1;
}

.nav.top.dropdown a:hover{
	color:white;
	background:black;
}

.nav.top.left a:hover:after{
	content: " ← " attr(data);
	border-right:1px solid black;
	padding-right:2px;
	padding-left:4px;
	font-weight:normal;
	font-size:12px;
	vertical-align:middle;
}

.nav.top.right a:hover:before{
	content:open-quote attr(data) close-quote " → " ;
	border-right:1px solid black;
	padding-right:2px;
	font-weight:normal;
	font-size:12px;
	vertical-align:middle;
	font-style:italic;
}

span {
	cursor:pointer;
}

span.mobile {
	display:none;
}

span b {
	clear:both;
	background:white;
	float:left;
	padding:2px;
}


.nav.right b {
	float:right;
}

span date {
	color:#ccc;
}

.desktop span:hover b {
	background:black;
	color:white;
}

.desktop span a:hover {
	background:black;
	color:white;
}

@media only screen and (max-device-width: 480px) {
	span.mobile{
		display:inline-block;
	}
	span{
		display:none;
	}
}

@media screen and (orientation:portrait) {
	body:after{
		content:"Hey there! For best viewing we suggest flipping your device sideways and spinning around in circles :)";
		background:white;
		position:fixed;
		width:200px;
		padding:5px;
		top:5px;
		left:5px;
		z-index:444;
	}
}