*~
v1
.DS_Store
*.orig
.sass-cache/
.#*
*.swp

node_modules

live.concat.js
jquery
nodoubletapzoom
spin.js
tweenjs
!js/vendor/jquery/jquery.js
!js/vendor/jquery/jquery.min.js
!js/vendor/nodoubletapzoom/jquery.nodoubletapzoom.js
!js/vendor/spin.js/spin.js
!js/vendor/tweenjs/src/Tween.js
